$warningColor: #FF4E33;

.errorMessage {
    padding: 5px 0px;
    color: $warningColor;
    margin-bottom: 15px;
}

textarea {
    outline: none;
    &.invalid {
        border: 2px solid $warningColor;
    }
}