.treeNode {
  border: 1px solid #ccc;
  padding: 5px 10px;
  display: inline-block;
  text-align: center;
  border: 1px solid cadetblue;
  margin: 2px;

  .nodeId {
    font-weight: bold;
  }

  .nodeChildren {
    border: 1px solid orange;
    display: inline-block;

    .treeNode {
      float: left; 
      padding: 20px 5px 0 5px;
    }

  }
  
}

// If it is the deepest node, put the green border style in all of its nodes.
.deepestNode * {
    border: 2px solid green;
}